.widget_content
  h3.title Top Donors
  #chart(data-funders=funders)

script
  inlines.push(function(){
    google.setOnLoadCallback(function() {
      var chart = $("#chart");
      var data = new google.visualization.DataTable();
      var funders = chart.data('funders');
      data.addColumn('string', 'Name');
      data.addColumn('number', 'Amount');
      data.addRows(funders);

      var options = {
        width: $("body").width(), 
        height: $("body").height() - $(".title").height(), 
        backgroundColor: 'none', 
        chartArea: {left: 10, top: 10, width: '100%', height: '100%'}
      };
     (new google.visualization.PieChart(chart[0])).draw(data, options);
    });
  });