.widget_content
  h3.title(style='margin-bottom: 22px;') Geographical location
  - if (locations.length > 0)
    .map(data-locations=JSON.stringify(locations))
  - else
    p No location information available.

script
  inlines.push(function(){
  
    initMap = function(){
      var map = $(".map");
      if (map.length > 0) {
        // map.width($("body").width());
        map.height($("body").height() - $(".title").outerHeight(true));
      
        //Initialises google map
        var options = {
          zoom: 8,
          center: new google.maps.LatLng(-34.397, 150.644),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          streetViewControl: false
        };
        var gmap = new google.maps.Map(map[0], options);
      
        //Sets maximum zoom callback for fitBounds method
        google.maps.event.addListener(gmap, 'zoom_changed', function() {
          zoomChangeBoundsListener = 
            google.maps.event.addListener(gmap, 'bounds_changed', function(event) {
              if (this.getZoom() > this.maxInitialZoom && this.initialZoom) {
                this.setZoom(this.maxInitialZoom);
                this.initialZoom = false;
              }
            google.maps.event.removeListener(zoomChangeBoundsListener);
          });
        });
        gmap.maxInitialZoom = 4;
        gmap.initialZoom = true;


        var infowindow = new google.maps.InfoWindow(),
          info = function(marker,loc){
            var content = $('<div><h2></h2><p></p></div>')
              .find('h2').text(loc.name).end()
              .find('p').text(loc.description).end()
              .html();

            return function(){
              infowindow.setContent(content);
              infowindow.open(gmap,marker);
            }
          };


        //Adds markers and positions/zooms the map to fit
        var bounds = new google.maps.LatLngBounds();
        $.map(map.data("locations"), function(location) {
          var latLng = new google.maps.LatLng(location.lat,location.lng);
          var marker = new google.maps.Marker({
            position: latLng, 
            title: location.name,
            map: gmap
          });
          
          google.maps.event.addListener(marker, 'click', info(marker, location));

          bounds.extend(latLng);
        });
        gmap.fitBounds(bounds);
      }
    };
  
    google.load("maps", "3", {callback:initMap, other_params:'sensor=false'});
  });