.widget_content
  h3.title Sector Breakdown
  - sectors = activity.sectors()
  - if (sectors.length > 0)
    #chart(data-sectors=JSON.stringify(sectors))
  - else
    p "No sectors available."

script
  inlines.push(function(){
    var displayChart = function() {
      var chart = $("#chart");
      if (chart.length > 0) {
        var data = new google.visualization.DataTable();
        var sectors = chart.data('sectors');
        var others = 0;
        $.map(sectors.slice(6), function(s) { others = others + s.value; });
        var byValue = function(a, b) { return a.value - b.value; };
        sectors = sectors.slice(0, 6).concat([{name: "Other", value: others}]).sort(byValue);
        data.addColumn('string', 'Name');
        data.addColumn('number', 'Amount');
        data.addRows($.map(sectors, function(s) { return [[s.name, s.value]]; }));

        var options = {
          //- width: $("body").width(), 
          height: $("body").height() - $(".title").outerHeight(true), 
          backgroundColor: 'none', 
          chartArea: {left: 10, top: 10, width: '100%', height: '100%'}
        };
        (new google.visualization.PieChart(chart[0])).draw(data, options);
      }
    };
    
    google.load('visualization', '1.0', {callback:displayChart, packages:['corechart']});
  });