!!!5
head
	title Transactions Graph

	link(href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css", rel="stylesheet")

body.span11.offset1

	h1 Transactions Graph

	div#visualization

	table.table.table-bordered
		thead
			tr
				th(data-dt-type='date') Date
				th(data-dt-type='number') Budget (USD)
				th(data-dt-type='number') Disbursement (USD)
		
		tbody
			// todo - accessor
			for tx in activity.transactions()
				if tx['transaction-type']['@code'] == 'D'
					tr
						td= tx['value']['@value-date']
						td
						td= parseFloat(tx['value']['@iati-ad:USD-value'],10)

			for budget in activity.budgets()
				tr
					td= budget["value"]["@iati-ad:transaction-date"]
					td= parseFloat(budget.value["@iati-ad:USD-value"],10)
					td


	//- pre 
		= JSON.stringify(activity.transactions(), null, " ")
		= JSON.stringify(activity.budgets(), null, " ")

	script(src="https://www.google.com/jsapi")
	script(src="/javascripts/lib/underscore.js")
	script(src="/javascripts/lib/jquery.js")
	script

		function drawVisualization() {

			var data = new google.visualization.DataTable();

			// functions to normalise the values
			// in the folloing rows
			var types = [],
				normalise = function(type, value){
					return  type == 'date' ? new Date(value) :
							type == 'number' ? parseFloat(value) || undefined : 
							value; // default
				};

			$('thead th').each(function(){
				var $th = $(this),
					type = $th.data('dt-type') || 'string',
					label = $th.text();
				data.addColumn(type, label);

				types.push(type);
			});

			$('tbody tr').each(function(){
				var row = [];
				$('td', this).each(function(i){
					var value = $(this).text(),
						type = types[i];
					row.push(normalise(type, value));
				});
				data.addRow(row);
			});

			// Create and draw the visualization.
			var type = ['ColumnChart', 'BarChart', 'LineChart'][0];
			new google.visualization[type](document.getElementById('visualization')).
				draw(data,
				{
					width:900, height:400,
					interpolateNulls:true,
					isStacked:true,
				}
			)
		}

		
		google.setOnLoadCallback(drawVisualization);
		google.load("visualization", '1.0', {'packages':['corechart', 'geochart']});
	
