section.slide-panel.clearfix
  aside
    ul
      li: a.icn.favourite(href=url_with(false,{view:'embed'}), data-dashkey="activities") Save to my favourites
      li: a.icn.print(href="#") Print
      li: a.icn.pdf(href="#") PDF
      li: a.icn.csv(href="#") CSV
      
    h3 Related documents 
    ul.related
      li: a.icn.doc(href="#") document title
      li: a.icn.doc(href="#") document title
      li: a.icn.doc(href="#") document title
      
  div.main
    h1= activity.title
    
    table.headline
      tr
        th Total budget:
        td $<strong>000</strong> million
      tr
        th Allocated to date:
        td $<strong>000</strong> thousand
  
script
  inlines.push(function(){
    contentExit = function(){
      return $('#content_inner').deferredAnimate({marginTop:600}, function(){
        $(this).empty().css({marginTop:0});
      });
    };
    $('.favourite').favourite();
  });
