h1= title

// render the query state
h3
	each v, k in q
		span
			= k + '=' + v + '; '

ol(class='activities')
	each activity in activities
		li= activity.name


ul(class='filters')
	li
		a(href='/filter/f1?' + qs) Filter One (f1)
	li
		a(href='/filter/f2?' + qs) Filter Two (f2)
	li
		a(href='/filter/f3?' + qs) Filter Three (f3)