section.slide-panel.dashboard
  a.dev#clear(href='#', data-confirm='Remove all content from your dashboard') Clear All
  
  h1.icn.favourite.large My dashboard
  
  ol.groups(data-dashkey = 'activities')
    li.info: h3 The My Dashboard page is where you can review all the searches and widgets which you have saved within AidView
  
  section(data-dashkey = 'widgets')
    h2 My widgets
    ol.content
  
  section.datafiles(data-dashkey = 'datafiles')
    h2 My data files
    ol.content

script
  inlines.push(function(){
    $.setArcNav();
    $('.dashboard').dashboardContent();
    new Scroller($('section.slide-panel').get(0));
  })