section.slide-panel.dashboard
  h1.icn.favourite.large My dashboard
  
  ol.groups
    li
      h2 My USAid Activities
        small Overall value: $63 million
      ol
        li
          h3.xbubble Activity one
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        li
          h3.xbubble Activity two
          |  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      
    li
      h2 INGO activities I'm insterested in
        small Overall value: $5 million
      ol
        li
          h3.xbubble Activity one
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        li
          h3.xbubble Activity two
          |  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  
  
  section.widgets
    h2 My widgets
    
    ol.content
  
  section.datafiles
    h2 My data files

    ol.content

