section.data_file.slide-panel.clearfix
  h1.title Data file: Somewhere
  .third.left
    .summary.section
      table.full
        tr
          td Total commitments:
          td!= "$<strong>235</strong> billion"
        tr
          td Total disbursments:
          td!= "$<strong>189</strong> billion"
        tr
          td Total activities:
          td!= "$<strong>38</strong>"
  .third.right
    .links.section.left
      a(href='')
        img(src='/images/sprites/save.png')
        | Save to my dashboard
      a(href='')
        img(src='/images/sprites/print.png')
        | Print
      a(href='')
        img(src='/images/sprites/pdf.png')
        | PDF
      a(href='')
        img(src='/images/sprites/csv.png')
        | CSV
  .clear
  .third.left
    .widget
      .content
        h3 New projects in Somewhere:
        p
          | 3rd Social Action Fund(FAS III)
          br
          | Commitments: $467,017
          br
          br
          | Accountable Grant With One World Action for LUPP Building Influence, Strengthening...
          br
          | Commitments: $1,871,781
          br
          br
          | HIV/AIDS, Malaria and TB Control Project (HAMSET)
          br
          | Commitments: $457,000
  .third.left
     != partial('embed_widget', {locals: {url: url_with('/widgets/donors'), links: true}})
  .third.left
    != partial('embed_widget', {locals: {url: url_with('/widgets/sectors'), links: true}})
  .third.left
    .widget
      h3 Aid type breakdown:
  .third.left
    .widget
      h3 Regional allocations:
  .third.left
    .widget
      h3 Spare box

script
  inlines.push(function(){
    contentExit = function(){
      return $('#content_inner').deferredAnimate({marginTop:600}, function(){
        $(this).empty().css({marginTop:0});
      });
    };
    
    
    // toggle the nav
    $('nav.linkup').click(function(e){
      e.stopPropagation();
      var $this = $(this);
      
      var shown = $this.hasClass('showone');
      
      //remove from all
      $('.showone').removeClass('showone');
      
      // and toggle 
      $(this).toggleClass('showone',!shown);
    })
    
  });