.data_file.clearfix
  h1.title Data file: Somewhere
  .third.left
    .summary.section
      table.full
        tr
          td Total commitments:
          td!= "$<strong>235</strong> billion"
        tr
          td Total disbursments:
          td!= "$<strong>189</strong> billion"
        tr
          td Total activities:
          td!= "$<strong>38</strong>"
  .third.left
    .stats.section
      strong World Bank data (2009)
      table.full
        tr
          td GDP
          td $75.5 biilion
        tr
          td GNI per capita
          td $3,880
        tr
          td External debt stocks (% of GNI)
          td 28.8%
        tr
          td Life expectancy at birth, total
          td 50 yeard
        tr
          td Population, total
          td 18.6 million
  .third.left
    .links.section.right
      a(href='')
        img(src='/images/save_button.png')
        | Save to my dashboard
      a(href='')
        img(src='/images/print_button.png')
        | Print
      a(href='')
        img(src='/images/pdf_button.png')
        | PDF
      a(href='')
        img(src='/images/csv_button.png')
        | CSV
  .clear
  .third.left
    .widget.section
      .corner
        a.save(href='#save')
         img(src='/images/save_button.png')
      .content
        h3 New projects in Somewhere:
        p
          | 3rd Social Action Fund(FAS III)
          br
          | Commitments: $467,017
          br
          br
          | Accountable Grant With One World Action for LUPP Building Influence, Strengthening...
          br
          | Commitments: $1,871,781
          br
          br
          | HIV/AIDS, Malaria and TB Control Project (HAMSET)
          br
          | Commitments: $457,000
  .third.left
    .widget.section
      .corner
        a.save(href='#save')
         img(src='/images/save_button.png')
      .content
        h3 Top donors in Somewhere:
        img(src='/images/example_graph_1.png')
  .third.left
    .widget.section
      .corner
        a.save(href='#save')
         img(src='/images/save_button.png')
      .content
        h3 Top sectors in Somewhere: 
        img(src='/images/example_graph_2.png')
  .third.left
    .widget.section
      h3 Aid type breakdown:
  .third.left
    .widget.section
      h3 Regional allocations:
  .third.left
    .widget.section
      h3 Spare box