.widget_wrapper
  .widget!= partial("embed_widget", {title: title, url: url_with(url), padding: 0})
.links
  h2 Add this to your website:
  p Copy and paste embed code
  input.large(type='text', value="<h1>#{title}</h1>"+ partial("embed_widget", {title: title, url: url_with(url)}))
  h2 Link to this:
  p Copy and paste
  input.large(type='text', value=url_with("/data-file"))