- if (typeof(width) === 'undefined') width = 276;
- if (typeof(height) === 'undefined') height = 234;
- if (typeof(name) !== 'undefined')
  h1= name
iframe(src=url, scrolling='no', style='width: #{width}px; height: #{height}px; border: 0px;')