.landing_message
  .logo.clearfix
    img(src='/images/home_logo.png').left
    h2.left
      strong Development 
      | INSIGHT

  .large_message
    h1
      | Search over 
      strong  15,000 
      | Aid Activities
    h2
      | Filter by 
      strong Sector, Funder, 
      | or 
      strong Area