.landing_message
  h1
    span Aid View Alpha
  h2
    |  Global Aid Activities from
    strong= funders
    |  Funders
  h3
    | Filter by 
    strong Sector, Funder, Area, 
    | or search

  form(action='/search')
    input.q(type='text', name='q')
    input.submit(type='submit', value='search')

script
  inlines.push(function(){$.setArcNav()})