.landing_message
  h1
    span AidView Alpha
  h2
    |  Global Aid Activities from
    strong= funders
    |  Funders
  h3
    | Filter by
    strong
      a.xhr(href="/filter/SectorCategory")
        |  Sector,
      a.xhr(href="/filter/Reporter")
        |  Organisation,
      a.xhr(href="/filter/Country")
        |  Country
    |  or
    strong
      a.search(href="#search") Search

  form.jshide(action='/search', id="search")
   input.q(type='text', name='q')
   input.submit(type='submit', value='search')

  h4: a.xhr.highlight(href='/about', data-history='{"enter":"slideUp"}') About AidView and data quality


// this message will be hidden for all but <IE7
.built_for
  h2 This site is not supported on IE 6
  h3 Please update your browser or install a different browser below:
  .browsers
    a(href="http://www.mozilla.org/en-US/")
      img(src="images/firefox.png")
      span Firefox
    a(href="https://www.google.com/intl/en/chrome/browser/")
      img(src="images/chrome.png")
      span Chrome
    a(href="http://support.apple.com/kb/DL1531")
      img(src="images/safari.png")
      span Safari


script
  inlines.push(function(){
    $.setArcNav()
    $('a.search', this).click(function(e){
      e.preventDefault();
      $('#search').slideDown();
    })
  })
