.landing_message
  h1
    span Aid View
  h2
    | Search over 
    strong 15,000
    |  Global Aid Activities 
    br
    | from
    strong= funders
    |  Funders
  h3
    | Filter by 
    strong Sector, Funder, 
    | or 
    strong Area