section.slide-panel.clearfix
  aside
    form.dashChoice(action='/search')
      input.name(type='text', name='q', value=query.q)
      input.submit(type='submit', value='search')
      
  div.main

    h1.left #{activity_count} results for '#{query.q}'
    
    h3.right #{activity_count} activities found
      - if (pagination)
        != partial('pagination', pagination)

    table.full
      each activity in activities
        tr 
          td.name 
            a.xhr.content(href='/activity/' + activity.id(), data-history='{"enter":"slideUp"}')
              = activity.title()
          td
           = to_currency(activity.value())

script
  inlines.push(function(){
    $("a", this).click(function() {
      if ($(this).is(".page")) contentExit = false;
      else {
        contentExit = function() {
          return $('#content_inner').deferredAnimate({marginTop:600}, function(){
            $('section.slide-panel', this).remove();
            $(this).css({marginTop:0});
          });
        }
      }
    });
    
    new Scroller($('section.slide-panel').get(0))
  });
