!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  script
    window.inlines = [];
    window.runInlines = function() { while(inlines.length) { inlines.pop().apply(this); } };
  body.widget_layout
    != body
    
    script(src="https://www.google.com/jsapi")
    each script in clientScripts
      script(src='/javascripts/'+script)
    script
      google.load('visualization', '1.0', {'packages':['corechart']});
    script
      var runInlines = function() { while(inlines.length) { inlines.pop()(); } }
      $(runInlines);