#body .left { float: left; }
#body .right { float: right; }
#body .hidden { display: none; }
#body .third { width: 33.33%; }
#body .two_thirds { width: 66.66%; }
#body .clear { clear: both; }
#body  .full { width: 100%; }
#body  .block { display: block; }

html, body { height: 100%; }

body {
  font: 12px Arial, sans-serif;
  color: #828281;
}
a, a:active, a:visited {
  color: #828281;
  text-decoration: none;
}
h1, h2, h3 {
  font-weight: normal;
  margin: 0px 0px 12px;
}
h1 {
  color: #1e99d6;
  font-size: 38px;
}
h2 {
  color: #2d5ea9;
  font-size: 28px;
}
h3 {
  color: #2d5ea9;
  font-size: 15px;
}
th, td {
  padding: 0px;
}

/* inner page heading */
h3.inner{
  color: #2d5ea9;
  font-weight: normal;
  margin-left:3em;
  margin-top:1em;
  font-size:1.7em;
  position:fixed;
  z-index:10;
}

#body {
  width: 100%; height: 100%;
  background: #E4E6E6 url(/images/background.png);
}
#content {
  width: 100%; height: 100%; min-height: 500px; min-width: 600px;
}
#content_inner {
  padding: 115px 0px;
}

#header {
  position: fixed; 
  top: 0; left: 0; right: 0;
  height: 112px;
}
#header .corner, #footer .corner { 
  position: absolute;
  width: 181px; height: 201px;
  pointer-events: none;
}
#header .centre, #footer .centre { 
  position: absolute;
  left: 181px; right: 181px;
  height: 112px;
}
#header .centre { 
  top: 0;
  background: url(/images/overlay_top_centre.png) repeat-x top;
}
#header .left_corner { 
  left: 0; top: 0;
  margin-bottom: -89px;
  background: url(/images/overlay_top_left.png);
  pointer-events: none;
}
#header .right_corner { 
  right: 0; top: 0;
 margin-bottom: -89px;
  background: url(/images/overlay_top_right.png);
 
}
#header .sector_filter {
  display: block; position: relative;
  width: 184px; margin: 6px auto 0;
}
#header .sector_filter  .button {
  position: absolute; left: 21%; top: 35px;
  padding: 5px;
}

#footer {
  position: fixed; bottom: 0; left: 0; right: 0;
  height: 112px;
}
#footer .centre { 
  bottom: 0;
  background: url(/images/overlay_bottom_centre.png) repeat-x bottom;
}
#footer .left_corner { 
  left: 0; bottom: 0;
  margin-top: -89px;
  background: url(/images/overlay_bottom_left.png);
}
#footer .right_corner { 
  right: 0; bottom: 0;
  margin-top: -89px;
  background: url(/images/overlay_bottom_right.png);
}
#footer .funder_filter {
  display: block; position: relative;  float: left;
  width: 184px; margin: 20px 5px 0;
}
#footer .funder_filter  .button {
  position: absolute; left: 40px; bottom: 35px;
  padding: 5px;
}
#footer .area_filter {
  display: block; position: relative; float: right;
  width: 184px; margin: 16px 5px 0;
}
#footer .area_filter  .button {
  position: absolute; right: 40px; bottom: 35px;
  padding: 5px;
}
  
#popup {
  position: absolute;
  width: 300px; padding: 40px 50px;
  background: white;
  border-radius: 30px; -moz-border-radius: 30px;
  box-shadow: 0px 0px 6px #ccc; -moz-box-shadow: 0px 0px 6px #ccc;
}

#dimmer {
  position: fixed; top: 0; left: 0; bottom: 0; right: 0;
  background: url(/images/dimmer_background.png);
  background: rgba(0,0,0,0.75);
  display: none;
}

#embed {
  position: fixed;  top: 50%; left: 50%;
  width: 800px; height: 220px;  margin-left: -400px; margin-top: -110px;
}
#embed  .widget {
  float: left;
  padding: 10px;
  width: 290px;
  background: #EFEFEF;
}
#embed  .links {
  float: left;
  padding: 0px 20px;
  width: 450px;
}
#embed  .links h2 {
  margin: 0px;
  color: white;
  font-size: 30px;
}
#embed  .links p {
  margin: 0px;
  color: white;
  font-size: 18px;
}

.landing_message {
  margin-top: 70px;
}
.landing_message .logo {
  width: 300px; margin: 0px auto 9px;
}
.landing_message .logo h2 {
  width: 150px; margin: 18px 0;
  line-height: 30px;
}

.large_message {
  padding: 20px 0;
  text-align: center;
}
.large_message p {
  margin: 0px; color: inherit; 
}
.large_message  h1 { 
  line-height: 28px;
}
.large_message  h1 strong { 
  font-weight: normal; font-size: 150%;
  font-weight: normal;
  font-size: 150%;
}

.data_file {
  width: 980px; margin: 50px auto 0px;
  background: #fff;
  border-radius: 48px; -moz-border-radius: 48px;
  padding: 27px 30px;
  box-shadow: 0px 0px 6px #ccc; -moz-box-shadow: 0px 0px 6px #ccc;
}

.data_file h1 {
  color: #334784;
  font-size: 28px;
  font-weight: normal;
}

.data_file .section { 
  margin: 0px 10px 20px; padding: 0px 12px;
}

.data_file .title {
  height: 32px; padding-left: 37px; margin: 0px 10px 12px;
  background: url('/images/graph_icon.png') left bottom no-repeat;
  vertical-align: baseline; line-height: 38px;
}

.data_file strong {
  color: #2d5ea9;
  font-weight: normal;
}

.data_file .summary table td {
  font-size: 17px;
  color: #2d5ea9;
  vertical-align: baseline;
}
.data_file .summary strong {
  font-size: 25px;
}

.data_file .links a {
  display: block;
  font-size: 16px;
  line-height: 24px;
}
.data_file .links a img {
  margin-right: 5px;
  vertical-align: text-bottom;
}

.data_file .widget {
  position: relative;
  height: 200px; padding-top: 9px; padding-bottom: 9px;
  background: #efefef;
}

.data_file .widget .corner {
  position: absolute; top: -2px; right: -2px;
  height: 45px; width: 45px;
  background: url('/images/widget_corner.png') no-repeat;
}

.data_file .widget .corner .save {
  display: block;
  margin-left: 20px;
  padding: 4px;
}

.filters {
  clear: both;
}

.main_navigation {
  position: absolute; left: 0; top: 0;
  padding: 9px 12px;
}

.activities_navigation {
  position: relative; width: 228px; margin: 0 auto; 
  padding: 18px 12px 0px;
}

.activities {
  position: relative;
  margin: 35px auto 0; padding: 0;
}

.activities .activity {
  position: relative;
  display: block; float: left;
  width: 150px; height: 150px; margin: 1px;
  list-style: none;
}

.activities .activity .outline {
  position: absolute;
  width: 100%; height: 100%;
  opacity: 0.2; background-color: #aaa;
  border-radius: 10000px;
}

.activities .activity .content {
  display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  margin: 8px;
  opacity: 0.7; background-color: #aaa; 
  border-radius: 10000px;
}

.activities .activity .content .text {
  margin: 17px 20px;
  overflow: visible;
  color: #000;
}

ol.pagination{
  padding:0;
  margin:0;
  font-size:.9em;
}

ol.pagination li{
  list-style:none;
  display:inline;
}

ol.pagination a, ol.pagination span, ol.pagination .more{
  display:inline-block;
  background-color:#1E99D6;
  margin:.2em;
  padding:.1em 0;
  width:1.5em;
  text-align:center;
  color:#fff;
  text-decoration:none;
}

ol.pagination li .current{
  color:#111;
}

div.filter{
  margin:4em;
  
}